html {
  scroll-behavior: smooth;
}

body {
  background-color: #fefae0;
}

img {
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

nav {
  background-color: #d4a373;
}

ul {
  list-style: none;
}

footer {
  margin: 2rem 2rem 2rem 2rem;
}

.navbar-brand {
  font-family: 'Cutive Mono', monospace;
}

#profile-photo {
  padding: 0px;
  border: 1rem ridge #ccd5ae;
  border-color: #e9edc9;
  border-radius: 50%;
  display: flex;
  flex-shrink: 1;
}

.cover-photo {
  position: relative;
  border: 1rem solid;
  border-color: #ccd5ae;
}

.parallax {
  /* The image used */
  background-image: url("/images/TracyTurbines.jpg");

  /* Set a specific height */
  min-height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallaxParent {
  height: 100vh;
  overflow: hidden;
}
.parallaxParent > * {
  height: 200%;
  position: relative;
  top: -100%;
}

#cover-photo-text {
  font-size: 2.5rem;
  font-family: 'Fugaz One', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #faedcd;
  text-shadow: -5px 5px 0px #ccd5ae9b, -10px 10px 0px #ccd5ae37, -15px 15px 0px #ccd5ae0c;
  line-height: 2;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #d4a373;
}

#about-me-title {
  text-align: center;
  font-size: 2rem;
  font-family: 'Cutive Mono', monospace;
}

.bullet-points {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.video {
  padding: 0px;
  border: 1rem ridge #ccd5ae;
  border-color: #e9edc9;
  display: flex;
  flex-shrink: 1;
}

#carouselExampleIndicators {
  padding: 0px;
  border: 1rem ridge #ccd5ae;
  border-color: #e9edc9;
  display: flex;
  flex-shrink: 1;
  margin-bottom: 2rem;
}

#carousel-caption {
  color: #faedcd;
}

#apa-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.about-me {
  display: flex;
  flex: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.polaroid {
  padding: 0px;
  height: auto;
  max-width: 75%;
  margin-left: 6rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 2rem solid #fefae0;
  border-color: #fefae0;
  border-top: 2rem;
  border-bottom: 2rem;
  border-left: 1rem;
  border-right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-content: flex-end;
  padding: 0px;
  border: 1rem ridge #ccd5ae;
  border-color: #e9edc9;
  border-radius: 50%;
  display: flex;
  flex-shrink: 1;
}

#resume-prose {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.projects {
  display: flex;
  flex-direction: column;

}


/* #profile-photo {
  padding: 0px;
  border: 1rem ridge #ccd5ae;
  border-color: #e9edc9;
  border-radius: 50%;
  display: flex;
  flex-shrink: 1;
} */

/* body {
  margin: 0;
  background-color: #111;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
}

h1, h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-shadow: 1px 1px 2px black;
}

h2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 2px black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #000000;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #373737;
}

.container {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

.centered, #pdf-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#profile {
  width: 25%;
  height: 25%;
  float: left;
}

.coming-soon, .resume-block{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

#pdf-image {
  width: 40px;
  height: 40px;
}

#resumeJPG {
  width: 50%;
  height: 50%;
}

.resume-block {
  background-color: white;
  padding: 2%;
  margin-left: 25%;
  border-radius: 25%;
} */